* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 50%;
}

input {
    margin-top: 10px;
    padding: 14px 10px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid rgb(216, 216, 216);
}

button {
    padding: 14px 18px;
    border-radius: 5px;
    border-style: none;
}